Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.htm index.php
RewriteEngine On
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /proyectonuevo/index.php/$1 [L,QSA]